{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<div class="content">
    <!-- <div class="posts js-posts" data-links-url="{% url 'json-links' %}" data-date="{{ date|date:'Y-m-j' }}" data-csrf="{{ csrf_token }}" data-vote-url="{% url 'vote' %}">
    </div> -->
    <ul>
	    {% for source in object_list %}
      <li><a href="{{ source.url }}">{{ source.url }}</a></li>
	    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/links.js" charset="utf-8"></script>
{% endblock %}
