{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<div class="menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a href="{% url 'home' %}" class="pure-menu-heading">REDDOID</a>
    <ul>
         {% if user.is_authenticated %}
         <li><a href="{% url 'logout' %}" class="button">Logout</a></li>
         {% else %}
         <li><a href="{% url 'social:begin' 'twitter' %}{% if next %}?next={{ next }}{% endif %}">Login with Twitter</a></li>
         {% endif %}
    </ul>
    {% comment %}
        <ul class="right">
            <li>{% date_link date "links" False %}</li>
            <li>{% date_link date "links" True %}</li>
        </ul>
    {% endcomment %}
</div>

<div class="content">
    <!-- <div class="posts js-posts" data-links-url="{% url 'json-links' %}" data-date="{{ date|date:'Y-m-j' }}" data-csrf="{{ csrf_token }}" data-vote-url="{% url 'vote' %}">
    </div> -->

	    {% for source in object_list %}
            <div class="post">
                <div class="entiti"><a href="{{ source.url }}">{{ source.url }}</a></div>
                <div class="votes">{{ source.num }}</div>
            </div>
	    {% endfor %}
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/links.js" charset="utf-8"></script>
{% endblock %}
