{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<header>
<a href="{% url 'social:begin' 'twitter' %}{% if next %}?next={{ next }}{% endif %}">Twitter</a>
</header>

<div class="content">
    <div class="pure-g">
        <div class="pure-u-5-6 js-posts">
            
        </div>
        <div class="pure-u-1-6">
            <div class="sidebar" data-posts-url="{% url 'posts' %}" data-date="{{ date|date:'Y-m-j' }}">
                {% date_link date False %}
                {% date_link date True %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/home.js" charset="utf-8"></script>
{% endblock %}
