{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<div class="menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a href="{% url 'home' %}" class="pure-menu-heading">REDDOID</a>
    <ul>
        <li><a href="{% url 'social:begin' 'twitter' %}{% if next %}?next={{ next }}{% endif %}">Twitter</a></li>
        <li><a href="{% url 'social:begin' 'gplus' %}{% if next %}?next={{ next }}{% endif %}">Google+</a></li>
    </ul>
    <ul class="right">
        <li>{% date_link date False %}</li>
        <li>{% date_link date True %}</li>
    </ul>
</div>

<div class="content">
    <div class="posts js-posts" data-posts-url="{% url 'posts' %}" data-date="{{ date|date:'Y-m-j' }}">
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/home.js" charset="utf-8"></script>
{% endblock %}
