.menu {
    padding: 10px 20px 10px 10px;
}
.menu .right {
    margin-right: 20px;
    float: right;
}
.content {
    margin-top: 50px;
    padding: 20px;
}
.post {
    background: #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 60px;
}
.votes {
    display: inline-block;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
}
.entiti {
    display: inline-block;
}
