{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="posts js-posts" data-links-url="{% url 'json-images' %}" data-format="image" data-date="{{ date|date:'Y-m-j' }}" data-csrf="{{ csrf_token }}" data-vote-url="{% url 'vote-image' %}" {% if user.is_authenticated %} data-authenticated="true"{% endif %}>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/links.js" charset="utf-8"></script>
{% endblock %}
