{% load home_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reddoid</title>
        {% block css %}
        <link href="/static/css/pure-min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/base.css?v=1" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <div class="menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a href="{% url 'home' %}" class="pure-menu-heading">REDDOID</a>
            <ul>
                 <li><a href="{% url 'links' %}">Links</a></li>
                 <li><a href="{% url 'images' %}">Images</a></li>
                 {% if user.is_authenticated %}
                 <li><a href="{% url 'logout' %}" class="button">Logout</a></li>
                 {% else %}
                 <li><a href="{% url 'social:begin' 'twitter' %}{% if next %}?next={{ next }}{% endif %}">Login with Twitter</a></li>
                 {% endif %}
            </ul>
            <ul class="right">
                <li>{% date_link date entities_name False %}</li>
                <li>{% date_link date entities_name True %}</li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer">
          <a href="{% url "sources" %}">sources</a> | 
          made during <a href="http://djangodash.com/">Django Dash</a> 2013 by 
          <a href="http://github.com/dudarev">@dudarev</a>,
          <a href="https://github.com/nanvel">@nanvel</a>,
          <a href="https://twitter.com/lisitsky">@lisitsky</a>
        </div>
        {% block js %}
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
